/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

p{
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

h1{
  font-size: 4rem;
  line-height: 4.625rem;
}

h2{
  font-size: 2.875rem;
  line-height: 4rem;
}

h3{
  font-size: 2rem;
  line-height: 2.75rem;
}

img{
  width: 100%;
}

.wrapper{
  max-width: 1616px;
  margin: 0 auto;
  padding: 8px 32px;
}

/* ==========================================================================
  Menu
   ========================================================================== */



header{
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  width: calc(100% - 4rem);
  justify-content: space-between;
  top: 1rem;
}

header.wrapper.notSticky{
  position: static;
  margin-top: 0;
}

.logo a{
  font-size: 1.75rem;
  line-height: 2.75rem;
}

header a {
  color: black;
  text-decoration: none;
  transition: 0.15s color;
}

header a:hover {
  color: grey;
}

footer {
  margin-bottom: 1rem!important;
  font-size: 1rem;
  line-height: 1.5rem;
}


/* ==========================================================================
  Article
   ========================================================================== */

article.wrapper{
  padding-top: 4rem;
  padding-bottom: 10rem;
}

article section{
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

article p, h1, h2{
  width: 70%;
}

article h1{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

article p{
  margin: 2.5rem 0;
}
article > img, article .animated-img{
  margin: 0.5rem 0;
}

video{
  width: 100%;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0.5rem 0;
}

.gallery-2-2{
  grid-row: 1 / span 2;
  grid-column: span 1;
}


/* ==========================================================================
  Index
   ========================================================================== */

.about{
  width: 60%;
  font-size: 2rem;
  line-height: 2.75rem;
  display: block;
}

.about .shrinkOnScroll{
  font-size: 2rem;
  opacity: 1;
  transition: all .2s ease-in-out;
}

.about .shrinkOnScroll.animate{
  font-size: 0rem;
  opacity: 0;
}

.social{
  width: 40%;
  display: block;
}

.social ul{
  margin: 0;
  padding: 0;
  text-align: right;
}

.social ul li{
  display: inline-block;
  margin-left: 2rem;
}

.social ul li a{
  font-size: 1.6rem;
  line-height: 2.75rem;
  background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 86%, #888888 86.1%, #888888 89%,
        rgba(0,0,0,0) 89.1%,
        rgba(0,0,0,0)
    );
  color: #000000;
  transition: all 0.2s;
}

.index-bottom{
  margin-top: calc(100vh - 420px /*- 216px - 363px*/ + 80px);
  margin-bottom: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.casestudies{
  width: 60%;
  float: left;
}

.casestudies ul{
  margin: 0;
  padding: 0;
}

.casestudies ul li{
  display: block;
  margin-left: 0;
}

.casestudies ul li a{
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 4rem;
  line-height: 4.625rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
}

.casestudies ul li a span{
  background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 84%, #888888 81.1%, #888888 85%,
        rgba(0,0,0,0) 85.1%,
        rgba(0,0,0,0)
    );
}

.casestudies li a:hover{
  color: #888888;
}

/*.casestudies li a:visited{
  color: grey;
}*/

.demo{
  position: absolute;
  width: 36%;
  right: 2rem;
}


/* ==========================================================================
  Featured
   ========================================================================== */

  .featured a{
    display: block;
    margin: 32px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color:#000;
    text-decoration: none;
  }
  .featured a img{
    margin-bottom: 0.5rem;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .casestudies ul li a{
    font-size: 3rem;
    line-height: 4rem;
  }

  .demo{
    width: 40%;
  }

  .casestudies{
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  article section{
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  article p, h1, h2{
    width: 100%;
  }

  article.wrapper{
    padding-top: 3.5rem;
  }

  article h1{
    font-size: 2.75rem;
    line-height: 3.125rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h2{
    font-size: 2.125rem;
    line-height: 3rem;
  }

  p{
    font-size: 1.5rem;
    line-height: 2.35rem;
    margin: 1rem 0;
  }

  header{
    position: static;
    width: auto;
  }

  .logo{
    width: auto;
  }

  .logo a{
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .about, .casestudies{
    width: 100%;
    order: 2;
  }

  .about{
    margin-top: 6rem;
  }

  .demo{
    width: 100%;
    order: 1;
  }

  .social{
    margin-top: 0;
    width: auto;
  }

  .social ul{
    text-align: left;
  }

  .social ul li{
    margin-left: 0.75rem;
  }
    .social ul li:first-child{
    margin-left: 0;
  }

  .social ul li a{
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .index-bottom{
    margin-top: 0;
  }

  .wrapper{
    padding: 16px 16px;
  }

  .casestudies{
    margin-top: 2rem;
  }

  .casestudies ul li a{
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .demo{
    position: static;
    right: 0;
  }

  .gallery{
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-height: 650px) and (min-width: 800px) {
  .index-bottom{
    margin-top: 19rem;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

